*{
	
	color:white;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
   
}
body,
html
{   margin:0;
	padding: 0;
	background-image: url("")
	height:100%;
}


.master{
	max-width:100%;
	height:100%;

}

.top-nav{
   background-color: black;
   padding:20px;
   display:flex;
   max-width: 100%;
   flex-direction: row;
   flex-wrap: nowrap;
  
   z-index:-1;



}
.hem{
    cursor:pointer;
	margin-left:90px;
}

.hem.slides{
 
 width:0;
 }
.heading1{
margin-left: 40px;
}

input{
	color:black;
	width:100%;
	text-align: center;
}
.reflect{
	color:white;
	width:100%;
	height:10%;
}


.filter{
	width:20%;
	padding: 2px;
	background-color: blue;
	text-align: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.inp{

	display: flex;
	flex-direction: row;
    max-width:100%;
	margin-top:64px;
}
.inp2{

	padding:2px;
	font-size:1.2em;
}

.container{
    top:0px;
	position:absolute;
	/*border:1px red solid;*/
 background-color:black;
height:100%;
width:300px;
opacity: 0.9;
z-index:-9;
overflow-x: hidden;

}

.container.slides{
 width:0;


}

.list-places{
display: flex;
flex-direction: column;
}

#places {
	
	list-style: none;
	padding:5px;
	text-align:center;
	cursor:pointer;

}

#places:hover {
	background-color:#423f3f;

}
.place-heading{
	margin:0 auto;
	width:100%;
	text-align:center;
	 font-size: 20px;
	clear:both;
}

